
.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    color: white;
    background-image: url('./C.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    text-align: center;
    line-height: 90vh;
    animation: Splash-fade-out ease-out 4s;
}

@keyframes Splash-fade-out {
    0%    { opacity: 1; }
  20%   { opacity: 1; }
  80%   { opacity:0 }
  100%  { opacity: 0 }
}

